{% extends 'store/base.html' %}

{% block content %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      {% if message.tags %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

  <div class="transparent-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}" class="login-form">
      {% csrf_token %}
      <div class="input-container">
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" required>
      </div>

      <div class="input-container">
        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password" required>
      </div>

      <button type="submit">Log In</button>
    </form>
  </div>
{% endblock %}
