{% extends 'base.html' %}

{% block content %}
  <div class="transparent-container">
    <h3 class="registration-title">Регистрация</h3>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <div class="input-container">
        <label for="id_username">Ник пользователя:</label>
        <input type="text" name="username" id="id_username" required>
      </div>

      <div class="input-container">
        <label for="id_first_name">Имя:</label>
        <input type="text" name="first_name" id="id_first_name" required>
      </div>

      <div class="input-container">
        <label for="id_last_name">Фамилия:</label>
        <input type="text" name="last_name" id="id_last_name" required>
      </div>

      <div class="input-container">
        <label for="id_email">Email:</label>
        <input type="email" name="email" id="id_email" required>
      </div>

      <div class="input-container">
        <label for="id_password1">Пароль:</label>
        <input type="password" name="password1" id="id_password1" required>
      </div>

      <div class="input-container">
        <label for="id_password2">Повторите пароль:</label>
        <input type="password" name="password2" id="id_password2" required>
      </div>

      <button type="submit" class="done">Готово!</button>
    </form>
  </div>
{% endblock %}
