body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/media/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

header {
    background-color: #0b0d3d;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
}

nav {
    text-align: center;
    background-color: #1b1d59;
    overflow: hidden;
    border-radius: 20px; /* Радиус скругления углов */
    margin: 0px 50px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 20px; /* Радиус скругления углов для каждой ссылки */
    transition: background-color 0.6s ease;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 10px;
}

footer {
    background-color: #0b0d3d;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo-image {
    width: 100%;
    max-width: 250px;
}
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px
}
.card {
    border: 2px solid #1b1d59; /* Граница карточки */
    border-radius: 10px; /* Округление краев карточки */
    overflow: hidden; /* Скрывает любые превышающие размеры дочерние элементы */
    margin: 20px; /* Внешний отступ карточки */
    width: 250px; /* Ширина карточки */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7); /* Тень карточки */
    background-color: white; /* Цвет карточки товара */
    /*background: linear-gradient(135deg, #40E0D0 0%, #00BFFF 100%)*/
}
.product-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    padding: 5px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

/* Добавьте стили для ссылок категорий и подкатегорий при наведении */
.category-link:hover, .subcategory-link:hover {
    background-color: #ddd;
    color: black;
}
.content-container {
    text-align: center;
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Добавьте отступ снизу для разделения категорий и продуктов */
}

.category-link {
    /* Ваши стили для ссылок категорий */
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #1b1d59; /* Цвет фона для категорий (пример) */
    margin: 5px; /* Внешний отступ между категориями (пример) */
    transition: background-color 0.6s ease;
}

.category-link:hover {
    background-color: #ddd;
    color: black;
}
.subcategory-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Добавьте отступ снизу для разделения подкатегорий и продуктов */
}

.subcategory-link {
    /* Ваши стили для ссылок подкатегорий */
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #1b1d59; /* Цвет фона для подкатегорий (пример) */
    margin: 5px; /* Внешний отступ между подкатегориями (пример) */
    transition: background-color 0.6s ease;
}

.subcategory-link:hover {
    background-color: #ddd;
    color: black;
}

/* Стили для корзины */
.cart-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

}

.cart {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #1b1d59;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.8);
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.product img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.counter {
    display: flex;
    align-items: center;
}
.counter button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.total {
    font-weight: bold;
    margin-top: 20px;
}

.product img {
    width: 200px; /* Установите максимальную ширину изображения по вашему усмотрению */
    height: 200px; /* Сохраняем пропорции изображения */
    border-radius: 8px;
    border: 2px solid #1b1d59;
}

/* CSS-стили регистрации */

.body-sign {

    font-family: Arial, sans-serif;
}

.transparent-container {
    border: 1px solid #ddd; /* Оттененные контуры */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Тень */
    max-width: 500px; /* Максимальная ширина контейнера */
    margin: 50px auto; /* Центрирование по вертикали и горизонтали */
    padding: 20px; /* Внутренний отступ */

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца с равными долями ширины */
    gap: 0px; /* Расстояние между элементами в контейнере */
}

.input-container input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 12px 14px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #1b1d59; /* Цвет фона кнопки (пример) */
    color: white; /* Цвет текста кнопки */
    margin: 0 auto; /* Центрирование и отсутствие внешних отступов */
    cursor: pointer;
    transition: background-color 0.6s ease; /* Плавное изменение цвета при наведении */
    width: auto; /* Автоматическая ширина под текст */
    font-size: 15px;

}

button:hover {
    background-color: #ddd; /* Измененный цвет фона при наведении (пример) */
    color: black; /* Измененный цвет текста при наведении */
}

/* Стили уведомлений*/
@keyframes fadeOut {
  10% { opacity: 1; }
  100% { opacity: 0; }
}
.messages li {
    list-style-type: none;
    padding: 12px 14px;
    text-align: center;
    border-radius: 20px;
    background-color: #20B2AA;
    color: white;
    display: inline-block;
    font-size: 20px;
    animation: fadeOut 1s forwards;
    animation-delay: 0.6s;
    position: fixed; /* Задаем фиксированное позиционирование */
    top: 10%; /* Размещаем элемент по вертикали на 50% высоты страницы */
    left: 50%;
    transform: translate(-50%, -50%);
}




/* кнопка добавить в корзину */
.prod-counter button.add-to-cart {
    padding: 12px 14px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #1b1d59; /* Цвет фона кнопки (пример) */
    color: white; /* Цвет текста кнопки */
    margin: 5px; /* Внешний отступ между кнопками (пример) */
    cursor: pointer;
    transition: background-color 0.6s ease; /* Плавное изменение цвета при наведении */
}

.prod-counter button.add-to-cart:hover {
    background-color: #ddd; /* Измененный цвет фона при наведении (пример) */
    color: black; /* Измененный цвет текста при наведении */
}

/* инкремент дикремент в корзине */
.decr-counter button {
    padding: 10px 16px;
    border-radius: 35px;
    background-color: #1b1d59; /* Цвет фона кнопки (пример) */
    color: white; /* Цвет текста кнопки */
    margin: 5px; /* Внешний отступ между кнопками (пример) */
    transition: background-color 0.6s ease; /* Плавное изменение цвета при наведении */
}

.decr-counter button:hover {
    background-color: #ddd; /* Измененный цвет фона при наведении (пример) */
    color: black; /* Измененный цвет текста при наведении */
}

/* заглавные тексты */
h3.registration-title {
    display: inline-block;
    padding: 12px 14px;
    font-size: 24px; /* Размер шрифта */
    color: #1b1d59; /* Цвет текста (пример) */
    margin-bottom: 20px; /* Нижний отступ */
    text-align: center;
    border-radius: 20px;
    background-color: #1b1d59; /* Цвет фона кнопки (пример) */
    color: white; /* Цвет текста кнопки */
    margin: 30px;
}


/*общая стоимость в корзине */

.total {
        display: inline-block;
        padding: 12px 14px;
        margin-bottom: 20px; /* Нижний отступ */
        text-align: center;
        border-radius: 20px;
        background-color: #13adad; /* Цвет фона кнопки (пример) */
        color: #142929; /* Цвет текста кнопки */
        margin: 30px;
    }

/* стили для поиска */

.search-input {
    width: 200px; /* Ширина поля ввода */
    padding: 12px 14px; /* Внутренний отступ */
    color: #333; /* Цвет текста */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 20px; /* Скругление углов */
    background-color: #f8f8f8; /* Цвет фона */
    outline: none; /* Убираем подсветку при фокусе */
    margin-left: auto; /* Помещаем форму поиска вправо */
    margin-right: 0px; /* Помещаем форму поиска влево */
}
/* Стили для плейсхолдера */
.search-input::placeholder {
    color: #999; /* Цвет текста плейсхолдера */

}
/* Стили для подсветки при фокусе */
.search-input:focus {
    border-color: #5cb85c; /* Цвет границы при фокусе */
    box-shadow: 0 0 10px rgba(92, 184, 92, 0.9); /* Тень при фокусе */
}
.search-form {
    margin: 0px 0; /* Устанавливаем отступы: сверху и снизу - 5px, слева и справа - 0 */
}

.search-button {
    float: right !important;
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 12px 14px !important;
    text-decoration: none !important;
    border-radius: 20px !important; /* Радиус скругления углов для каждой ссылки */
    transition: background-color 0.6s ease !important;
    margin-top: -41px; /* Поднимаем кнопку вверх на 10px */
    margin-right: 210px; /* Сдвигаем кнопку вправо на 10px */
}