{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>

    <!--Навбар-->
    <header>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'all-products' %}">Каталог</a>
             {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">Корзина<span class="badge bg-secondary"> {{request.cart_items_count}}</span></a>
<!--            <a href="{% url 'about-us' %}">О нас</a>-->
                <a href="{% url 'my_orders' %}">Мои заказы<span class="badge"> {{ request.orders_count }}</span></a>
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'logout' %}">Выйти</a>
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}">Админ-панель</a>
                {% endif %}
             {% else %}
                 <a href="{% url 'signup' %}">Регистрация</a>
                 <a href="{% url 'login' %}">Войти</a>
             {% endif %}
            <form class="search-form" action="{% url 'search_products' %}" method="GET">
                <input type="text" name="q" class="search-input" placeholder="Поиск...">
                <button class="search-button" type="submit">Найти</button>
            </form>
        </nav>
    </header>

    <!--контент-->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!--продукт -->
    {% block product %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    <div class="product-container">
    {% for product in products %}
    <div class="card">
        <a href="{% url 'product_detail' product_id=product.id %}">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="Product Image">
            </div>
        </a>
        <div class="product-info">
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.description }}</div>
            <div class="product-price">{{ product.price }} ₽</div>
            <div class="prod-counter">
                <button class="add-to-cart" onclick="addToCart('{{ product.id }}', '{{ product.price }}')">Добавить в корзину</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    {% endblock %}

    <!--Результаты поиска -->
    {% block search_results %}
        {% if search_results %}
            <div class="search-results">
                <h2>Результаты поиска:</h2>
                <ul>
                    {% for product in search_results %}
                        <li>{{ product.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    <!--Подвал-->
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Мой Веб-Магазин. Все права защищены.</p>
        </div>
    </footer>

    <!--скрипты-->

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
