{% extends 'store/base.html' %}

{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>

    <div class="categories">
            {% for category in categories %}
                <a href="{% url 'store:category_detail' category.id %}" class="category-link">{{ category.name }}</a>
            {% endfor %}
    </div>

    <!-- Отображение только подкатегорий -->
        <div class="subcategory-container">
            {% for subcategory in subcategories %}
                <a href="{% url 'subcategory_detail' subcategory.id %}" class="subcategory-link">{{ subcategory.name }}</a>
            {% endfor %}
        </div>

    <div class="product-container">
        {% for product in products %}
            <div class="card">
                <div class="product-image">
                    <img src="{{ product.image.url }}" alt="Product Image">
                </div>
                <div class="product-info">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-description">{{ product.description }}</div>
                    <div class="product-price">${{ product.price }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
