{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Контент для страницы с деталями продукта -->
    <h1>Детали продукта</h1>
    <div class="product-detail">
        <!-- Вывод информации о конкретном продукте -->
        <div class="image-cont">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" id="zoom-image">
        </div>
        <div class="product-info">
            <h2>{{ product.name }}</h2>
            <p><strong>Описание:</strong> {{ product.description }}</p>
            <p><strong>На складе:</strong>  {{ product.status }}</p>
            <p><strong>Айдишник товара:</strong>  {{ product.id }}</p>
            <p><strong>Цена:</strong>  {{ product.price }} ₽</p>
            <div class="prod-counter">
                <button class="add-to-cart" onclick="addToCart('{{ product.id }}', '{{ product.price }}')">Добавить в корзину</button>
            </div>
        </div>
    </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

{% endblock %}
