{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <!-- Контент для страницы корзины -->
    <h1>Ваша корзина</h1>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

    <div class="cart-body">
        <div class="cart">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="product">
                        <a href="{% url 'product_detail' product_id=item.product.id %}">
                            <div class="product-image">
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </div>
                        </a>
                        <div class="product-info">
                            <h3>{{ item.product.name }}</h3>
                            <p>{{ item.product.description }}</p>
                            <p>Цена: <span class="price">{{ item.product.price }}</span> ₽</p>
                        </div>
                        <div class="decr-counter">
                            <a href="{% url 'checkout' item.id %}"><button>Оформить</button></a>
                            <button onclick="decrementCount({{ item.id }})">-</button>
                            <span id="count{{ item.id }}">{{ item.quantity }}</span>
                            <button onclick="incrementCount({{ item.id }})">+</button>
                            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <button onclick="removeFromCart({{ item.id }})">Удалить</button>
                        </div>
                    </div>
                {% endfor %}
                <div class="total">Общая стоимость: {{ total_price }} ₽</div>
                <a href="{% url 'checkout_all' %}"><button>Купить все!</button></a>
            {% else %}
                <h2>Пуста!</h2>
            {% endif %}
        </div>
    </div>


{% endblock %}


