{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

  <div class="container">
    <h1>Оформление заказа</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="transparent-container">
          <div class="des"><h3 class="title">Детали доставки</h3></div>
          <form method="post" action="{% url 'checkout' item_id=cart_item.id %}">
            {% csrf_token %}

            <div class="input-container">
              <label for="id_full_name">Ник пользователя</label>
              <input type="text" class="form-control" id="id_full_name" name="full_name" required title="Пожалуйста, введите ваше имя пользователя">
            </div>

            <div class="input-container">
              <label for="id_address">Адрес</label>
              <input type="text" class="form-control" id="id_address" name="address" required>
            </div>

            <div class="input-container">
              <label for="id_phone_number">Номер телефона</label>
              <input type="tel" class="form-control" id="id_phone_number" name="phone_number" required>
            </div>

            <div class="input-container">
              <label for="id_size">Размер</label>
              <input type="text" class="form-control" id="id_size" name="size" placeholder="Отметьте размер при необходимости">
            </div>

<!--            <div class="des"><h3 class="title">Способ оплаты</h3></div>-->
<!--            <div style="display: flex; justify-content: space-between;">-->
<!--                <label for="payment_cash_on_delivery">Оплата при получении</label>-->
<!--                <input type="radio" id="payment_cash_on_delivery" name="payment_method" value="оплата при получении">-->
<!--                <label for="payment_credit_card">Оплата картой</label>-->
<!--                <input type="radio" id="payment_credit_card" name="payment_method" value="оплата картой">-->
<!--            </div><br>-->

            <button type="submit" class="btn btn-primary">Оформить заказ</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="transparent-container">
          <div class="col-md-4">
            <img src="{{ cart_item.product.image.url }}" class="img-fluid img-small">
          </div>
          <div class="col-md-8">
            <h3>Ваш заказ</h3>
            <strong>{{ cart_item.product.name }}</strong> - ({{ cart_item.quantity }} шт.)
            <p><strong>Общая сумма:</strong> {{ total_price }} руб.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
