{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

  <h1>Мои заказы</h1>
  <div class="order-list">
    {% if orders %}
      {% for order in orders %}
        <div class="cart">
          <div class="order-1">
            <a href="{% url 'order_detail' order_id=order.id %}" class="order-link">
              <span class="order-number">Посмотреть заказ № {{ order.order_number }}</span>
            </a>
          </div>
          <div class="order-info">
            <p><strong>Адрес доставки:</strong> {{ order.address }}</p>
            <p><strong>Номер телефона:</strong> {{ order.phone_number }}</p>
            <p><strong>Количество товаров в заказе:</strong> {{ order.orderitem_set.count }}</p>
            <p><strong>Сумма заказа:</strong> {{ order.total_price }} ₽</p>
          </div>
          <form action="{% url 'delete_order' order_id=order.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Удалить</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p>У вас пока нет заказов.</p>
    {% endif %}
  </div>
{% endblock %}
