{% extends 'store/base.html' %}

{% block content %}
  <div class="container">
    <h2>Детали заказа №{{ order.order_number }}</h2> <!-- Используйте order_number вместо id -->
    <p>Дата заказа: {{ order.date_ordered }}</p>
    <div class="row">
      {% for order_item in order_items %}
        <div class="col-md-4">
          {% if order_item.product.image %}
            <img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}" class="img-fluid img-small">
          {% endif %}
        </div>
        <div class="col-md-8">
          <p><strong>{{ order_item.product.name }}</strong></p>
          <p>Количество: {{ order_item.quantity }} шт.</p>
          <p>{{ order_item.description }}</p> <!-- Используйте description вместо product.description -->
          <p>{{ order_item.status }}</p> <!-- Добавьте статус товара -->
        </div>
      {% endfor %}
    </div>
    <p>Общая сумма заказа: {{ order.total_price }} руб.</p>
    <p>Статус заказа: {{ order.status }}</p> <!-- Добавьте статус заказа -->
    <p>Адрес доставки: {{ order.address }}</p> <!-- Добавьте адрес доставки -->
    <p>Номер телефона: {{ order.phone_number }}</p> <!-- Добавьте номер телефона -->
    <!-- Здесь можно добавить другие детали заказа, если необходимо -->
  </div>
{% endblock %}
