{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

  <div class="container">
    <h2>Детали заказа №{{ order.order_number }}</h2>
    <p>Дата заказа: {{ order.date_ordered }}</p>
    <div class="row">
      {% for order_item in order_items %}
        <div class="col-md-4">
          {% if order_item.product.image %}
              <a href="{% url 'product_detail' product_id=order_item.product.id %}">
                  <img src="{{ order_item.product.image.url }}" alt="{{ order_item.product.name }}" class="img-fluid img-small">
              </a>
          {% endif %}
        </div>
        <div class="col-md-8">
          <p><strong>{{ order_item.product.name }}</strong></p>
            <p><strong>Статус заказа:</strong> {{ order.status }}</p> <!-- Добавьте статус заказа -->
          <p><strong>Количество:</strong> {{ order_item.quantity }} шт.</p>
          <p>{{ order_item.description }}</p>
        </div>
      {% endfor %}
    </div>
    <p><strong>Общая сумма заказа:</strong> {{ order.total_price }} руб.</p>
    <p><strong>Адрес доставки:</strong> {{ order.address }}</p> <!-- Добавьте адрес доставки -->
    <p><strong>Номер телефона:</strong> {{ order.phone_number }}</p> <!-- Добавьте номер телефона -->
    <!-- Здесь можно добавить другие детали заказа, если необходимо -->
  </div>
{% endblock %}
